/* Generals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-family: "Andale Mono", "Courier New", Courier, monospace; 
}

body {
    background-color: pink; 
}


/* Header */

.hed {
    max-height: 70px;
    background-color: yellow; 
    padding: 10px; 
    border-bottom: 1px solid black; 
}

h1 {
    display: inline-block; 
    vertical-align: middle;
    font-weight: 400;
    
}

img {
    vertical-align: middle;
}



/* Main Content */ 

.main-cont {
    width: 600px;
    min-height: 600px;
    max-height: fit-content; 
    margin: 60px auto;
    
}


/* First part -- bottoni */

#buttons-container {
    margin-bottom: 2px;
    min-height: 40px; 
    background-color: yellow;  
    border-radius: 4px 4px 0px 0px; 
    border-top: 1px solid black;
    border-right: 1px solid black;   
}  

.bott {
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding: 8px; 
    padding-left: 14px;
    padding-right: 14px; 
    font-weight: 500;
    border-radius: 5px; 
    
}

#task-bott {
    margin-left: 60px; 
    color: white;
    background-color: rgb(99, 170, 236);
    border-color: rgb(99, 170, 236);
}

#section-bott {
   color: grey;
   border-color: #f5f5f5; 
   background-color: white; 
}




/* Lists */ 
/* General */

.list-container {
    /* border-radius: 0px 0px 4px 4px;  */
    background-color: white; 
    padding-bottom: 40px;
}

h3 {
    display: inline-block;
    margin: 5px;
}

.list-section { 
    min-height: 30px; 
    padding-left: 40px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px; 
    margin-bottom: 20px; 
}

.task-state {
    display: inline-block;
    border: 1px solid; 
    border-radius: 50%;
    width: 18px;
    height: 18px; 
    vertical-align: middle; 
    padding-left: 3px;
    
}


 /* Specifics */

 #new-task { 
    padding-top: 20px; 
 }

 .check {
     color: green;
     border-color: green;
 }

 .cross {
    color: red;
    border-color: red;
 }

 .azzurro {
    background-color: rgb(98, 169, 228); 
 }

 .viola {
    background-color: rgb(149, 116, 222); 
 }

 .verde-acq {
    background-color: rgb(123, 190, 170); 
 }

 .arancio {
    background-color: rgb(230, 161, 75); 
 }

 .fucsia{
    background-color: rgb(202, 166, 158); 
 }

 .mil-green {
   background-color: rgb(181, 200, 73); 
 }
/* Tags */

.cat-label { 
   color: white;
   font-size: 11px; 
   padding: 8px 12px; 
   border-radius: 15px; 
   border: 0px; 
}

 /* Footer of the list */ 

 .list-footer {
    margin-top: 2px; 
    height: 40px; 
    background-color: yellow; 
    border-radius: 0px 0px 4px 4px; 
    border-bottom: 1px solid black;
    border-left: 1px solid black; 
}