/* Generals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: pink; 
}

/* Header */

.hed {
    max-height: 70px;
    background-color: yellow; 
    padding: 10px; 
}

h1 {
    display: inline-block; 
    vertical-align: middle;
}

img {
    vertical-align: middle;
}
/* Main Content */ 

#buttons-container {
    margin-bottom: 5px;
    min-height: 40px; 
    /* width: 600px; */ 
    background-color: aqua; 
    
} 

.list-section {
    background-color: azure; 
    min-height: 30px; 
}

.main-cont {
    width: 600px;
    min-height: 600px;
    max-height: fit-content; 
    margin: 60px auto;
    background-color: green;
}